.machines {
	&__table {
		width: 100%;
		border-collapse: collapse;
		box-shadow: 0 0 0px 1px #b7b7b7,
					0 0 5px 0 #b7b7b7;
		border-radius: 10px;
		overflow: hidden;

		th {
			text-align: left;
			padding: 10px 20px;
		}

		td {
			padding: 10px 20px;
		}

		tbody tr:nth-child(2n - 1) {
			background: #efefef;
		}
	}
}

