.machines {
	&__table {
		width: 100%;
		border-collapse: collapse;

		tbody {
			border: solid 1px #696969;
		}

		th {
			text-align: left;
			padding: 10px 20px;
		}

		td {
			padding: 10px 20px;
		}

		tr:nth-child(2n) {
			background: #efefef;
		}
	}
}

